<html>
    <head>
      <link href='http://fonts.googleapis.com/css?family=Salsa' rel='stylesheet' type='text/css'>
    </head>

<br><br>

<body align="center">

<!--<h2 id="subheading" align="center">
    this is a subheading yup subheading goes here
</h2>-->

<br>

<div id="gifs" align="center">
    <!-- GIF #1 -->

    <a href="/gifs/<%=@gif1.id%>/like" data-method="put" rel="nofollow"><img id="gif1" src="<%= @gif1.link%>"></a>


    <b id="VS"> VS </b>

    <!-- GIF #2 -->

    <a href="/gifs/<%=@gif2.id%>/like" data-method="put" rel="nofollow"><img id="gif2" src="<%= @gif2.link%>"></a>


</div>

<br>

<div style = "font-family:Salsa">
<font size="5"; color = "#9FD6D2">
<%= link_to "Upload New Gif", gifs_new_path %>
<br><br>
<%= link_to "Top GIFS", gifs_path %>
</font>
</div>

</body>
</html>

