<%= form_for @gif do |f| %>
<% if @gif.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@gif.errors.count, "error") %> prohibited
    this post from being saved:</h2>
    <ul>
      <% @gif.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <p align="center">
    <%= f.label :"Gif link" %><br>
    <%= f.text_field :link %>
  </p>
  
  <p align="center">
    <%= f.submit %>
  </p>
  <% end %>